.bg {
    background: url(images/light.png) 0px 0px no-repeat;
    width: 452px;
    height: 510px;
    margin: 0 auto;
    position:absolute;
    top: 15px;
    left: -46px;
    animation:changehovertree 4s linear infinite
}

@keyframes changehovertree {
    0%{transform:rotate(0)}  50%{transform:rotate(180deg)} 100%{transform:rotate(360deg)}
}

.open-has {
    position: relative;
    z-index: 2;
    height: 450px;
    width: 320px;
    margin: 0 auto;
}

.gift {
    background: url(images/1.png) no-repeat scroll 0 0;
    left: 50%;
    position: absolute;
    top: 300px;
    width: 226px;
    height: 157px;
    z-index: 5;
    margin-left: -100px;
    cursor: pointer;
}